<div class="grid w-full grid-cols-2 gap-2">
    <div class="grid grid-cols-2 gap-2 rounded border px-4 py-2">
        <div class="col-span-full">
            <h5>Monthly Household Summary</h5>
        </div>

        <span>Income</span>
        <span>{{
            (data.tp1.income.net + data.tp2?.income.net) / 12.0
                | currency: "EUR"
        }}</span>

        <span>Expenditures</span>
        <span>{{
            data.expenditures.monthly + data.expenditures.yearly / 12.0
                | currency: "EUR"
        }}</span>

        <span>Mortgage</span>
        <span>{{ data.mortgage.monthlyRepayments | currency: "EUR" }}</span>

        <span>Savings /month</span>
        <span>
            {{
                (data.tp1.income.net +
                    data.tp2?.income.net -
                    (data.expenditures.monthly * 12.0 +
                        data.expenditures.yearly) -
                    data.mortgage.monthlyRepayments * 12.0) /
                    12.0 | currency: "EUR"
            }}
        </span>

        <span>Savings /year</span>
        <span>
            {{
                data.tp1.income.net +
                    data.tp2?.income.net -
                    (data.expenditures.monthly * 12.0 +
                        data.expenditures.yearly) -
                    data.mortgage.monthlyRepayments * 12.0 | currency: "EUR"
            }}
        </span>
    </div>

    <div
        *ngIf="monthData"
        class="grid grid-cols-2 gap-2 rounded border px-4 py-2"
    >
        <div class="col-span-full">
            <h5>Mortgage Summary</h5>
        </div>

        <span>Mortgage Term</span>
        <span
            >{{ math.floor(mortgageTerm / 12) }}y,
            {{ mortgageTerm % 12 }}m</span
        >

        <span>Interest Paid</span>
        <span>{{
            monthData[monthData.length - 1].cumulativeInterest | currency: "EUR"
        }}</span>
    </div>
</div>
