<div class="relative w-8 select-none shadow-none outline-none hover:bg-black">
    <input
        type="checkbox"
        [id]="id"
        [name]="id"
        [checked]="checked ? true : null"
        (change)="change($event)"
        class="whitespace-no-wrap absolute -m-px overflow-hidden p-0 shadow-none outline-none"
    />
    <label
        [for]="id"
        class="block h-4 cursor-pointer overflow-hidden rounded-full"
        [ngClass]="checked ? 'bg-accent bg-opacity-50' : 'bg-sky-300 bg-opacity-50'"
    >
        <span
            class="transition-position absolute -top-1 block h-6 w-6 rounded-full duration-150 ease-out"
            [ngClass]="checked ? 'left-4 bg-accent' : '-left-2 bg-sky-300'"
        >
        </span>
    </label>
</div>
