<form
    [formGroup]="form"
    class="raised-bg-gradient w-full space-y-4 rounded-lg px-4 py-2 shadow-lg shadow-sky-800/50"
>
    <div class="flex flex-row justify-between">
        <h5>Incomes, Taxes & Pensions</h5>
        <div class="flex flex-row gap-4">
            <button class="btn light p-1" (click)="toggleInfo()">
                <svg
                    class="h-6 w-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                </svg>
            </button>
            <button
                [ngClass]="{ disabled: taxpayers.length > 1 }"
                [disabled]="taxpayers.length > 1"
                class="btn light p-1"
                (click)="addTaxpayer()"
            >
                <svg
                    class="h-6 w-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                </svg>
            </button>
        </div>
    </div>
    <div
        class="overflow-hidden transition-all duration-500"
        [ngClass]="{
            'h-auto': showInfo,
            'h-0': !showInfo
        }"
    >
        <p>
            Add here the gross income and pension contributions for one or two
            taxpayers
        </p>
        <p>
            If there are two taxpayers, you have the option to be taxed as a
            married couple and the higher earner will automatically be assigned
            the role of Assessor. The data shown in the graphs will update to
            indicate your combined Net Worth, combined Pension contributions and
            combined savings
        </p>
        <p>
            Every time you edit a field, the changes will be immediately
            reflected in the graphs and data
        </p>
    </div>

    <fc-taxpayer
        class="relative flex font-bold"
        [taxpayerIdx]="0"
        (onDelete)="removeTaxpayer($event)"
    ></fc-taxpayer>
    <fc-taxpayer
        class="flex font-bold"
        *ngIf="taxpayers.length > 1"
        [taxpayerIdx]="1"
        (onDelete)="removeTaxpayer($event)"
    ></fc-taxpayer>
    <div
        *ngIf="taxpayers.length > 1"
        class="grid grid-cols-1 gap-2 md:grid-cols-3 lg:grid-cols-1 2xl:grid-cols-3"
    >
        <fc-checkbox formControlName="married">Married</fc-checkbox>
        <fc-radio-group
            *ngIf="data.married"
            class="col-span-2 grid grid-cols-2 gap-2"
            formControlName="assessmentMode"
        >
            <fc-radio-button value="0"> Joint Assessed </fc-radio-button>
            <fc-radio-button value="1"> Separate Assessed </fc-radio-button>
        </fc-radio-group>
    </div>
</form>
