<ng-container *ngIf="editing; then formTmpl; else summaryTmpl"></ng-container>

<ng-template #formTmpl>
    <form
        [formGroup]="form"
        class="w-full space-y-2 rounded border border-sky-800 px-4 py-2"
    >
        <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
            <fc-form-field>
                <span formLabel>Name</span>
                <input formInput type="text" formControlName="name" />
                <span formError *ngIf="form.get('name').invalid"> </span>
            </fc-form-field>
            <fc-form-field>
                <span formLabel>Birth Year</span>
                <input formInput type="number" formControlName="yearOfBirth" />
                <span formError *ngIf="form.get('yearOfBirth').invalid"> </span>
            </fc-form-field>

            <ng-container formGroupName="income">
                <fc-form-field>
                    <span formLabel>Income</span>
                    <p class="text-sky-100" formPrefix>€</p>
                    <input formInput type="number" formControlName="gross" />
                    <span formError *ngIf="income.get('gross').invalid"> </span>
                </fc-form-field>
            </ng-container>
            <div class="flex items-center justify-center">
                <fc-checkbox formControlName="paye">PAYE</fc-checkbox>
            </div>

            <ng-container formGroupName="pension">
                <fc-form-field>
                    <span formLabel>Pension Contributions</span>
                    <span formSuffix>%</span>
                    <input
                        formInput
                        type="number"
                        formControlName="percentage"
                        [disabled]="data.pension.max"
                    />
                    <span formError *ngIf="pension.get('percentage').invalid">
                    </span>
                </fc-form-field>
                <div class="flex items-center justify-center">
                    <fc-checkbox formControlName="max"
                        >Max Out Pension</fc-checkbox
                    >
                </div>
            </ng-container>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-2">
            <div class="grid grid-cols-2 gap-y-0 gap-x-4">
                <span class="text-left lg:text-right">Tax Credits</span>
                <span class="text-right font-mono lg:text-left">{{
                    data.taxPayable.taxCredits | currency: "EUR"
                }}</span>

                <span class="text-left lg:text-right">Net Tax</span>
                <span class="text-right font-mono lg:text-left">{{
                    data.taxPayable.incomeTax - data.taxPayable.taxCredits
                        | currency: "EUR"
                }}</span>

                <span class="text-left lg:text-right">PRSI</span>
                <span class="text-right font-mono lg:text-left">{{
                    data.taxPayable.prsi | currency: "EUR"
                }}</span>

                <span class="text-left lg:text-right">USC</span>
                <span class="text-right font-mono lg:text-left">{{
                    data.taxPayable.usc | currency: "EUR"
                }}</span>
            </div>

            <div class="grid grid-cols-2 gap-y-0 gap-x-4">
                <span class="text-left lg:text-right">Pension</span>
                <span class="text-right font-mono lg:text-left">{{
                    data.pension.amount | currency: "EUR"
                }}</span>

                <span class="text-left lg:text-right">Net Income</span>
                <span class="text-right font-mono lg:text-left"
                    >{{ data.income.net | currency: "EUR" }} / year</span
                >

                <span class="col-start-2 text-right font-mono lg:text-left"
                    >{{ data.income.net / 12.0 | currency: "EUR" }} /
                    month</span
                >

                <span class="h-4"></span>
                <span class="h-4"></span>
            </div>
        </div>

        <div class="flex w-full justify-end">
            <button class="btn h-8 w-8 p-1" (click)="editing = false">
                <svg
                    class="h-6 w-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                </svg>
            </button>
        </div>
    </form>
</ng-template>

<ng-template #summaryTmpl>
    <div
        class="list-element flex h-full w-full items-center"
        (click)="editing = true"
    >
        <div class="flex grow flex-col">
            <h6>{{ data.name }}</h6>
            <p class="ml-4">
                {{ data | salarySummary }}
            </p>
            <p class="ml-4">
                {{ data | pensionSummary }}
            </p>
        </div>
        <button
            [ngClass]="{
                disabled: !otherTaxpayerExists
            }"
            [disabled]="!otherTaxpayerExists"
            class="btn primary h-8 w-8 p-1"
            (click)="delete()"
        >
            <svg
                class="h-6 w-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                ></path>
            </svg>
        </button>
    </div>
</ng-template>
