<div
    class="relative h-[60px] min-w-[210px] rounded-md border-2 border-rose-400/0 bg-slate-700 px-3 pt-3"
    [ngClass]="{
        'border-rose-400/100': formError != null
    }"
>
    <div class="relative flex h-full w-full max-w-full flex-row whitespace-nowrap">
        <!-- Prefix -->
        <div *ngIf="formPrefix" class="mt-2 -ml-2 mr-1">
            <ng-content select="[formPrefix]"></ng-content>
        </div>

        <!-- Input and Label -->
        <div class="relative flex w-full grow flex-col">
            <ng-content></ng-content>
            <label
                [attr.for]="inputId"
                class="absolute left-0 -top-0.5 z-10 translate-y-0 text-xs text-slate-400 transition-[transform,font-size,line-height] peer-placeholder-shown:translate-y-2 peer-placeholder-shown:text-base peer-focus:translate-y-0 peer-focus:text-xs"
            >
                <ng-content select="[formLabel]"></ng-content>
            </label>
        </div>

        <!-- Suffix -->
        <div *ngIf="formSuffix" class="flex h-9 items-end justify-center">
            <ng-content select="[formSuffix]"></ng-content>
        </div>
    </div>

    <!-- Form Errors -->
    <div class="absolute top-[60px] w-full text-xs text-rose-400">
        <ng-content select="[formError]"></ng-content>
    </div>
</div>
