<div class="raised-bg-gradient w-full rounded-lg p-4 pt-2 font-bold shadow-lg shadow-sky-800/50">
    <div class="flex flex-row justify-between">
        <h5>Mortgage</h5>
    </div>

    <div class="relative z-0 mt-4 w-full">
        <div class="list-element relative z-10 flex w-full items-center" [ngClass]="{
                'sticky top-0': editing
            }">
            <div class="flex grow flex-col">
                <h6>
                    {{ mortgage.amount | currency: "EUR":"symbol":"1.0-0" }} @
                    {{ mortgage.aprc }}% APRC,
                    {{ mortgage.term }}y
                </h6>
                <p class="ml-4">
                    Monthly Repayment:
                    {{ monthlyRepayments | currency: "EUR":"symbol":"0.0-0" }}
                </p>
                <p class="ml-4">
                    Total Interest:
                    {{ totalCumulativeInterest | currency: "EUR":"symbol":"0.0-0" }}
                </p>
            </div>
            <button class="btn primary ml-2 h-8 w-8 p-1" *ngIf="!alwaysShow" (click)="editing = !editing">
                <div class="rotate-0 transition-transform duration-300" [ngClass]="{
                        'rotate-[360deg]': editing
                    }">
                    <ng-container *ngIf="editing; then checkTmpl; else editTmpl"></ng-container>
                </div>
            </button>
        </div>

        <form *ngIf="form" [formGroup]="form"
            class="relative z-0 grid w-full grid-cols-2 gap-2 overflow-hidden rounded-b-lg border-4 border-t-0 border-b-4 border-sky-800 p-4 font-bold transition-all duration-700 sm:grid-cols-4 xl:space-y-2"
            [ngClass]="{
                '-mt-6 max-h-0 pt-0': !editing,
                '-mt-4 max-h-[96rem] pt-8': editing
            }">
            <fc-form-field *ngIf="showStartMonth" class="col-span-1">
                <span formLabel>Start After Months</span>
                <input formInput type="number" formControlName="startAfterMonth" />
                <span formError *ngIf="form.get('startAfterMonth').invalid">
                </span>
            </fc-form-field>

            <ng-container *ngIf="(xl$ | async) === true">

                <span class="col-span-1 col-start-1 text-right">Property Value</span>
                <fc-slider class="col-span-2" formControlName="value" [min]="100000" [max]="1000000"
                    [step]="5000">Property Value</fc-slider>
                <span class="col-span-1 text-left font-mono">{{
                    mortgage.value | currency: "EUR":"symbol":"0.0-0"
                    }}</span>

                <span class="col-span-1 col-start-1 text-right">LTV</span>
                <fc-slider class="col-span-2" formControlName="ltv" [min]="0" [max]="90" [step]="0.1">LTV</fc-slider>
                <span class="col-span-1 text-left font-mono">{{
                    mortgage.ltv
                    }}%</span>

                <span class="col-span-1 text-right">Term</span>
                <fc-slider class="col-span-2" formControlName="term" [min]="5" [max]="35" [step]="5">
                    Term</fc-slider>
                <span class="col-span-1 text-left font-mono">
                    {{ mortgage.term }}y
                </span>

                <span class="col-span-1 text-right">APRC</span>
                <fc-slider class="col-span-2" formControlName="aprc" [min]="2" [max]="6" [step]="0.05">APRC</fc-slider>
                <span class="col-span-1 text-left font-mono">{{ mortgage.aprc }}%</span>

                <span class="col-span-1 col-start-1 text-right">Help To Buy</span>
                <fc-slider class="col-span-2" formControlName="htb" [min]="0" [max]="30000"
                    [step]="500">Deposit</fc-slider>
                <span class="col-span-1 text-left font-mono">{{
                    mortgage.htb | currency: "EUR":"symbol":"0.0-0"
                    }}</span>

                <span class="col-span-1 col-start-1 text-right">Overpayment</span>
                <fc-slider class="col-span-2" formControlName="overpaymentPct" [min]="0" [max]="10"
                    [step]="1">Overpayment</fc-slider>
                <span class="col-span-1 text-left font-mono">{{
                    mortgage.overpaymentPct
                    }}%</span>

            </ng-container>
            <ng-container *ngIf="(xl$ | async) === false">
                <fc-form-field class="col-span-2">
                    <span formLabel>Value</span>
                    <span formPrefix>€</span>
                    <input formInput type="number" formControlName="value" />
                    <span formError *ngIf="form.get('value').invalid"> </span>
                </fc-form-field>
                <fc-form-field class="col-span-2">
                    <span formLabel>Term</span>
                    <span formSuffix>y</span>
                    <input formInput type="number" formControlName="term" />
                    <span formError *ngIf="form.get('term').invalid"> </span>
                </fc-form-field>
                <fc-form-field class="col-span-2">
                    <span formLabel>APRC</span>
                    <span formSuffix>%</span>
                    <input formInput type="number" formControlName="aprc" />
                    <span formError *ngIf="form.get('aprc').invalid"> </span>
                </fc-form-field>
                <fc-form-field class="col-span-2">
                    <span formLabel>LTV</span>
                    <span formSuffix>%</span>
                    <input formInput type="number" formControlName="ltv" />
                    <span formError *ngIf="form.get('ltv').invalid"> </span>
                </fc-form-field>
                <fc-form-field class="col-span-2">
                    <span formLabel>HTB</span>
                    <span formPrefix>€</span>
                    <input formInput type="number" formControlName="htb" />
                    <span formError *ngIf="form.get('htb').invalid"> </span>
                </fc-form-field>
                <fc-form-field class="col-span-2">
                    <span formLabel>Overpayments</span>
                    <span formSuffix>%</span>
                    <input formInput type="number" formControlName="overpaymentPct" />
                    <span formError *ngIf="form.get('overpaymentPct').invalid"> </span>
                </fc-form-field>
            </ng-container>
        </form>
    </div>
</div>

<ng-template #editTmpl>
    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
    </svg>
</ng-template>

<ng-template #checkTmpl>
    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
</ng-template>