<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    <button routerLink="/planner"
        class="rounded hover:scale-105 transform duration-300 shadow-lg w-full aspect-square bg-gradient-to-br from-pink-500 to-blue-500 focus:from-pink-400 from:to-blue-400 flex flex-col justify-center items-center">
        <h4>Personal Planner</h4>
    </button>
    <button routerLink="/mortgage-calculator"
        class="rounded hover:scale-105 transform duration-300 shadow-lg w-full aspect-square bg-gradient-to-br from-pink-500 to-blue-500 focus:from-pink-400 from:to-blue-400 flex flex-col justify-center items-center">
        <h4>Mortgage Calculator</h4>
    </button>
</div>