<div class="relative h-screen box-border text-sky-100 font-sans font-normal text-base antialiased slashed-zero lining-nums tabular-nums overflow-hidden">

  <div class='w-full h-screen overflow-hidden box-border fixed inset-0 -z-10 bg-noche-500 background-gradient'></div>

  <div class='px-16 pt-16 p-4 overflow-y-scroll h-screen'>

      <div class='flex flex-col lg:flex-row lg:space-x-4'>
          <div class='w-full lg:w-1/2'>
              <form class='text-sky-100 space-y-4' [formGroup]="form">

                  <div class='space-y-4 rounded border px-4 py-2'>
                      <div class='flex flex-row justify-between'>
                          <h6>Incomes, Taxes & Pensions</h6>
                          <button [ngClass]="{ 'disabled': data.tp2 != null }"  [disabled]="data.tp2 != null" class='btn w-8 h-8 p-1' (click)="addTaxpayer()">
                              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                          </button>
                      </div>
                      <p>
                          Add here the gross income and pension contributions for one or two taxpayers
                      </p>
                      <p>
                          If there are two taxpayers, you have the option to be taxed as a married couple and the higher earner will automatically be assigned the role of Assessor. The data shown in the graphs will update to indicate your combined Net Worth, combined Pension contributions and combined savings
                      </p>
                      <p>
                          Every time you edit a field, the changes will be immediately reflected in the graphs and data
                      </p>
                      <div [hidden]="!data.tp2" class='grid grid-cols-3 gap-2' formGroupName='maritalStatus'>
                          <fc-checkbox formControlName='married'>Married</fc-checkbox>
                          <fc-radio-group *ngIf="data.maritalStatus.married" class='col-span-2 grid grid-cols-2 gap-2' formControlName='assessmentMode'>
                              <fc-radio-button value='0'>Joint Assessed</fc-radio-button>
                              <fc-radio-button value='1'>Separate Assessed</fc-radio-button>
                              <!-- <fc-radio-button value='2'>Separate Treatment</fc-radio-button> -->
                          </fc-radio-group>
                      </div>
                      <div class='grid grid-cols-1 gap-4'>
                          <ng-container *ngIf="editingTaxpayerIdx === 0">
                              <div class='space-y-4 border rounded px-4 py-2' formGroupName='tp1'>
                                  <div class='flex flex-row justify-between'>
                                      <div class='flex space-x-2'>
                                          <fc-form-field>
                                              <span formLabel>Name</span>
                                              <input formInput type='text' formControlName='name'/>
                                              <span formError *ngIf="tp1.get('name').invalid"> </span>
                                          </fc-form-field>
                                          <fc-form-field>
                                              <span formLabel>Birth Year</span>
                                              <input formInput type='number' formControlName='yearOfBirth'/>
                                              <span formError *ngIf="tp1.get('yearOfBirth').invalid"> </span>
                                          </fc-form-field>
                                      </div>
                                      <fc-checkbox formControlName='paye'>PAYE</fc-checkbox>
                                  </div>
                                  <div class='grid grid-cols-2 lg:grid-cols-4 gap-4'>

                                      <span class='col-span-2 lg:col-span-1 text-left lg:text-right'>Income</span>
                                      <div class='col-span-2' formGroupName='income'>
                                          <fc-slider formControlName='gross' [min]=20000 [max]=150000 [step]=1000>Income (€ p.a)</fc-slider>
                                      </div>
                                      <span class='col-span-2 lg:col-span-1 text-right lg:text-left'>{{ data.tp1.income.gross | currency:'EUR' }}</span>

                                      <ng-container formGroupName='pension'>
                                          <span class='col-span-2 lg:col-span-1 text-left lg:text-right'>Pension</span>
                                          <ng-container *ngIf="data.tp1.pension.max">
                                              <div class='col-span-2 lg:col-span-3 flex flex-row space-x-4'>
                                                  <fc-checkbox formControlName='max'>Max</fc-checkbox>
                                              </div>
                                          </ng-container>
                                          <ng-container *ngIf="!data.tp1.pension.max">
                                              <fc-slider class='col-span-2' formControlName='percentage' [min]=0 [max]=40 [step]=1>Pension Contribution (%)</fc-slider>
                                              <div class='col-span-2 lg:col-span-1 flex flex-row space-x-4'>
                                                  <span class='text-right lg:text-left'>{{ data.tp1.pension.percentage }}%</span>
                                                  <fc-checkbox formControlName='max'>Max</fc-checkbox>
                                              </div>
                                          </ng-container>
                                      </ng-container>

                                      <div class='grid col-span-2 grid-cols-2 gap-y-0 gap-x-4'>
                                          <span class='text-left lg:text-right'>Tax Credits</span>
                                          <span class='text-right lg:text-left'>{{ data.tp1.taxPayable.taxCredits | currency:'EUR' }}</span>

                                          <span class='text-left lg:text-right'>Net Tax</span>
                                          <span class='text-right lg:text-left'>{{ (data.tp1.taxPayable.incomeTax - data.tp1.taxPayable.taxCredits) | currency:'EUR' }}</span>

                                          <span class='text-left lg:text-right'>PRSI</span>
                                          <span class='text-right lg:text-left'>{{ data.tp1.taxPayable.prsi | currency:'EUR' }}</span>

                                          <span class='text-left lg:text-right'>USC</span>
                                          <span class='text-right lg:text-left'>{{ data.tp1.taxPayable.usc | currency:'EUR' }}</span>
                                      </div>

                                      <div class='grid col-span-2 grid-cols-2 gap-y-0 gap-x-4'>
                                          <span class='text-left lg:text-right'>Pension</span>
                                          <span class='text-right lg:text-left'>{{ data.tp1.pension.amount | currency:'EUR' }}</span>

                                          <span class='text-left lg:text-right'>Net Income</span>
                                          <span class='text-right lg:text-left'>{{ data.tp1.income.net | currency:'EUR' }} / year</span>

                                          <span class='col-start-2 text-right lg:text-left'>{{ (data.tp1.income.net/12.0) | currency:'EUR' }} / month</span>

                                          <span class='h-4'></span>
                                          <span class='h-4'></span>
                                      </div>

                                  </div>

                                  <div class='flex justify-end w-full'>
                                      <button class='btn w-8 h-8 p-1' (click)="editingTaxpayerIdx = null;">
                                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                      </button>
                                  </div>

                              </div>
                          </ng-container>
                          <ng-container *ngIf="editingTaxpayerIdx !== 0">
                              <div class='list-element flex items-center w-full'>
                                  <div class='flex flex-col grow'>
                                      <h6>{{ data.tp1.name }}</h6>
                                      <p class='ml-4'>{{ data.tp1 | salarySummary}}</p>
                                      <p class='ml-4'>{{ data.tp1 | pensionSummary}}</p>
                                  </div>
                                  <button [ngClass]="{ 'disabled': data.tp2 == null }" [disabled]="data.tp2 == null" class='btn w-8 h-8 p-1' (click)="removeTaxpayer(0)">
                                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                                  </button>
                                  <button class='btn w-8 h-8 p-1' (click)="editingTaxpayerIdx = 0;">
                                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
                                  </button>
                              </div>
                          </ng-container>

                          <ng-container *ngIf="data.tp2 != null">
                              <ng-container *ngIf="editingTaxpayerIdx === 1">
                                  <div class='space-y-4 border rounded px-4 py-2' formGroupName='tp2'>
                                      <div class='flex flex-row justify-between'>
                                          <div class='flex space-x-2'>
                                              <fc-form-field>
                                                  <span formLabel>Name</span>
                                                  <input formInput type='text' formControlName='name'/>
                                                  <span formError *ngIf="tp2.get('name').invalid"> </span>
                                              </fc-form-field>
                                              <fc-form-field>
                                                  <span formLabel>Birth Year</span>
                                                  <input formInput type='number' formControlName='yearOfBirth'/>
                                                  <span formError *ngIf="tp2.get('yearOfBirth').invalid"> </span>
                                              </fc-form-field>
                                          </div>
                                          <fc-checkbox formControlName='paye'>PAYE</fc-checkbox>
                                      </div>
                                      <div class='grid grid-cols-2 lg:grid-cols-4 gap-4'>

                                          <span class='col-span-2 lg:col-span-1 text-left lg:text-right'>Income</span>
                                          <div class='col-span-2' formGroupName='income'>
                                              <fc-slider formControlName='gross' [min]=20000 [max]=150000 [step]=1000>Income (€ p.a)</fc-slider>
                                          </div>
                                          <span class='col-span-2 lg:col-span-1 text-right lg:text-left'>{{ data.tp2.income.gross | currency:'EUR' }}</span>

                                          <ng-container formGroupName='pension'>
                                              <span class='col-span-2 lg:col-span-1 text-left lg:text-right'>Pension</span>
                                              <ng-container *ngIf="data.tp2.pension.max">
                                                  <div class='col-span-2 lg:col-span-3 flex flex-row space-x-4'>
                                                      <fc-checkbox formControlName='max'>Max</fc-checkbox>
                                                  </div>
                                              </ng-container>
                                              <ng-container *ngIf="!data.tp2.pension.max">
                                                  <fc-slider class='col-span-2' formControlName='percentage' [min]=0 [max]=40 [step]=1>Pension Contribution (%)</fc-slider>
                                                  <div class='col-span-2 lg:col-span-1 flex flex-row space-x-4'>
                                                      <span class='text-right lg:text-left'>{{ data.tp2.pension.percentage }}%</span>
                                                      <fc-checkbox formControlName='max'>Max</fc-checkbox>
                                                  </div>
                                              </ng-container>
                                          </ng-container>

                                          <div class='grid col-span-2 grid-cols-2 gap-y-0 gap-x-4'>
                                              <span class='text-left lg:text-right'>Tax Credits</span>
                                              <span class='text-right lg:text-left'>{{ data.tp2.taxPayable.taxCredits | currency:'EUR' }}</span>

                                              <span class='text-left lg:text-right'>Net Tax</span>
                                              <span class='text-right lg:text-left'>{{ (data.tp2.taxPayable.incomeTax - data.tp2.taxPayable.taxCredits) | currency:'EUR' }}</span>

                                              <span class='text-left lg:text-right'>PRSI</span>
                                              <span class='text-right lg:text-left'>{{ data.tp2.taxPayable.prsi | currency:'EUR' }}</span>

                                              <span class='text-left lg:text-right'>USC</span>
                                              <span class='text-right lg:text-left'>{{ data.tp2.taxPayable.usc | currency:'EUR' }}</span>
                                          </div>

                                          <div class='grid col-span-2 grid-cols-2 gap-y-0 gap-x-4'>
                                              <span class='text-left lg:text-right'>Pension</span>
                                              <span class='text-right lg:text-left'>{{ data.tp2.pension.amount | currency:'EUR' }}</span>

                                              <span class='text-left lg:text-right'>Net Income</span>
                                              <span class='text-right lg:text-left'>{{ data.tp2.income.net | currency:'EUR' }} / year</span>

                                              <span class='col-start-2 text-right lg:text-left'>{{ (data.tp2.income.net/12.0) | currency:'EUR' }} / month</span>

                                              <span class='h-4'></span>
                                              <span class='h-4'></span>

                                          </div>

                                      </div>

                                      <div class='flex justify-end w-full'>
                                          <button class='btn w-8 h-8 p-1' (click)="editingTaxpayerIdx = null;">
                                              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                          </button>
                                      </div>

                                  </div>
                              </ng-container>
                              <ng-container *ngIf="editingTaxpayerIdx !== 1">
                                  <div class='list-element flex items-center w-full'>
                                      <div class='flex flex-col grow'>
                                          <h6>{{ data.tp2.name }}</h6>
                                          <p class='ml-4'>{{ data.tp2 | salarySummary}}</p>
                                          <p class='ml-4'>{{ data.tp2 | pensionSummary}}</p>
                                      </div>
                                      <button class='btn w-8 h-8 p-1' (click)="removeTaxpayer(1)">
                                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                                      </button>
                                      <button class='btn w-8 h-8 p-1' (click)="editingTaxpayerIdx = 1;">
                                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
                                      </button>
                                  </div>
                              </ng-container>
                          </ng-container>

                      </div>
                  </div>


                  <div class='space-y-4 border rounded px-4 py-2' formGroupName='expenditures'>
                      <h6>Expenditures</h6>
                      <p>
                          Monthly expenditures are everything EXCEPT for mortgage payments. That is covered in the <b>Mortgage</b> section below
                      </p>
                      <p>
                          Include here things like petrol, insurance, groceries, other monthly bills
                      </p>
                      <p>
                          Annual expenditures are things like car tax which are only paid once per year. The cost is divided into 12 and split evenly across the months of the year
                      </p>
                      <div class='grid grid-cols-2 lg:grid-cols-4 gap-4'>

                          <span class='col-span-2 lg:col-span-1 text-left lg:text-right'>Monthly</span>
                          <fc-slider class='col-span-2' formControlName='monthly' [min]=0 [max]=5000 [step]=100>Monthly</fc-slider>
                          <span class='col-span-2 lg:col-span-1 text-right lg:text-left'>{{ data.expenditures.monthly | currency:'EUR' }}</span>

                          <span class='col-span-2 lg:col-span-1 text-left lg:text-right'>Annual</span>
                          <fc-slider class='col-span-2' formControlName='yearly' [min]=0 [max]=5000 [step]=100>Yearly</fc-slider>
                          <span class='col-span-2 lg:col-span-1 text-right lg:text-left'>{{ data.expenditures.yearly | currency:'EUR' }}</span>

                      </div>
                  </div>

                  <div class='space-y-4 border rounded px-4 py-2' formGroupName='mortgage'>
                      <h6>Mortgage</h6>
                      <p>
                          The Amount field should be the amount of money to be borrowed from the bank - NOT the price of the property
                      </p>
                      <p>
                          APRC takes into account the initial fixed interest rate, any later variable rate changes, and any once-off fees included in the process of drawing up mortgages. Most banks will provide APRC figures for different mortgage plans
                      </p>
                      <p>
                          Repayments is per month, and represents your <em>initial</em> repayment amount. Any increases/decreases over time can be dealt with in the <b>Timeline</b> section below
                      </p>
                      <ng-container *ngIf="editingMortgage">
                          <div class='grid grid-cols-2 lg:grid-cols-4 gap-4'>

                              <span class='col-span-2 lg:col-span-1 text-left lg:text-right'>Amount</span>
                              <fc-slider class='col-span-2' formControlName='amount'     [min]=200000 [max]=700000 [step]=5000>Mortgage Amount</fc-slider>
                              <span class='col-span-2 lg:col-span-1 text-right lg:text-left'>{{ data.mortgage.amount | currency:'EUR' }}</span>

                              <span class='col-span-2 lg:col-span-1 text-left lg:text-right'>APRC</span>
                              <fc-slider class='col-span-2' formControlName='aprc'       [min]=2 [max]=5 [step]=0.01>APRC</fc-slider>
                              <span class='col-span-2 lg:col-span-1 text-right lg:text-left'>{{ data.mortgage.aprc }}%</span>

                              <span class='col-span-2 lg:col-span-1 text-left lg:text-right'>Repayments</span>
                              <fc-slider class='col-span-2' formControlName='monthlyRepayments' [min]=1000 [max]=6000 [step]=50>Monthly Repayments</fc-slider>
                              <span class='col-span-2 lg:col-span-1 text-right lg:text-left'>{{ data.mortgage.monthlyRepayments | currency:'EUR' }}</span>

                              <div class='col-start-2 lg:col-start-4 flex justify-end w-full'>
                                  <button class='btn w-8 h-8 p-1' (click)="editingMortgage = false;">
                                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                  </button>
                              </div>

                          </div>
                      </ng-container>
                      <ng-container *ngIf="!editingMortgage">
                          <div class='list-element flex items-center w-full'>
                              <div class='flex flex-col grow'>
                                  <h6>{{ data.mortgage | mortgageSummary:1 }}</h6>
                                  <p class='ml-4'>{{ data.mortgage | mortgageSummary:2 }}</p>
                                  <p class='ml-4'>{{ data.mortgage | mortgageSummary:3 }}</p>
                              </div>
                              <button class='btn w-8 h-8 p-1' (click)="editingMortgage = true;">
                                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
                              </button>
                          </div>
                      </ng-container>
                  </div>

                  <div class='space-y-4 rounded border px-4 py-2' formGroupName='strategy'>
                      <div class='flex flex-row justify-between items-center'>
                          <h6>Timeline</h6>
                          <button class='btn' (click)="addEvent()">
                              <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                          </button>
                      </div>
                      <p>
                          Let's be realistic, the numbers you've entered above in <b>Incomes</b>, <b>Expenditures</b>, and <b>Mortgage</b> are not going to stay the same for the next 30 odd years.
                      </p>
                      <p>
                          Use this section to build a timeline of events which change your income, pension contributions, mortgage repayments, interest levels, etc to give a better picture of what your finances will look like in the future
                      </p>
                      <p>
                          Every time you add or edit an event, the changes will be immediately reflected in the graphs and data
                      </p>
                      <div cdkDropList [cdkDropListData]="data.strategy.events" (cdkDropListDropped)="drop($event)" class='w-full grid grid-cols-1 gap-y-2 mt-2' formArrayName='events'>
                          <div cdkDrag *ngFor="let ev of events.controls; let i = index" class='list-element cursor-default grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-1 px-4 py-2' [formGroupName]='i'>
                              <ng-container *ngIf="editingEventIdx === i">
                                  <fc-form-field>
                                      <span formLabel>After Months</span>
                                      <input formInput type='number' formControlName='afterMonths'/>
                                      <span formError *ngIf="events.at(i).get('afterMonths').invalid"> </span>
                                  </fc-form-field>
                                  <fc-form-field>
                                      <span formLabel>TaxPayer</span>
                                      <fc-select formInput formControlName="taxpayer">
                                          <fc-option [value]="null"></fc-option>
                                          <fc-option *ngFor="let tp of ['0', '1']" [value]="tp">
                                              <span>{{tp === '0' ? data.tp1.name : data.tp2.name}}</span>
                                          </fc-option>
                                      </fc-select>
                                      <span formError *ngIf="events.at(i).get('taxpayer').invalid"> </span>
                                  </fc-form-field>
                                  <fc-form-field>
                                      <span formLabel>Change</span>
                                      <fc-select formInput formControlName="quantity">
                                          <fc-option *ngFor="let quantity of eventQuantities" [value]="quantity.key">
                                              <span>{{quantity.value}}</span>
                                          </fc-option>
                                      </fc-select>
                                      <span formError *ngIf="events.at(i).get('quantity').invalid"> </span>
                                  </fc-form-field>
                                  <fc-form-field>
                                      <span formLabel>Operation</span>
                                      <fc-select formInput formControlName="operation">
                                          <fc-option *ngFor="let op of eventOperations" [value]="op.key">
                                              <span>{{op.value}}</span>
                                          </fc-option>
                                      </fc-select>
                                      <span formError *ngIf="events.at(i).get('operation').invalid"> </span>
                                  </fc-form-field>
                                  <fc-form-field>
                                      <span formLabel>Value</span>
                                      <input formInput type='number' formControlName='value'/>
                                      <span formError *ngIf="events.at(i).get('value').invalid"> </span>
                                  </fc-form-field>
                                  <div class='flex justify-end items-center'>
                                      <button [ngClass]="{ 'disabled': !events.at(i).valid }" [disabled]="!events.at(i).valid" class='btn w-8 h-8 p-1' (click)="editingEventIdx = null;">
                                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                      </button>
                                  </div>
                              </ng-container>
                              <ng-container *ngIf="editingEventIdx !== i">
                                  <div class='col-span-full flex items-center w-full'>
                                      <p class='flex grow'>{{ ev.value | summary:data }}</p>
                                      <svg cdkDragHandle viewBox="0 0 20 20" fill="currentColor" class="menu-alt4 w-6 h-6"><path fill-rule="evenodd" d="M3 7a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 13a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                                      <button class='btn w-8 h-8 p-1' (click)="removeEvent(i)">
                                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                                      </button>
                                      <button class='btn w-8 h-8 p-1' (click)="editingEventIdx = i;">
                                          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
                                      </button>
                                  </div>
                              </ng-container>
                              <span *cdkDragPreview></span>
                          </div>
                      </div>
                  </div>

              </form>
          </div>

          <div class='w-full lg:w-1/2'>
              <fc-chart2d title="Net Worth"   xTitle="Years" yTitle="Value (€)" [genericData]="netWorthData"></fc-chart2d>
              <fc-chart2d title="Mortgage"    xTitle="Years" yTitle="Value (€)" [genericData]="mortgageData"></fc-chart2d>

              <div class='grid grid-cols-1 lg:grid-cols-2 gap-4 pb-16'>
                  <div class='grid grid-cols-2 gap-2 mt-8 border rounded px-4 py-2'>

                      <div class='col-span-full'>
                          <h5>Monthly Household Summary</h5>
                      </div>

                      <span>Income</span>
                      <span>{{ (data.tp1.income.net + data.tp2?.income.net)/12.0 | currency:'EUR' }}</span>

                      <span>Expenditures</span>
                      <span>{{ (data.expenditures.monthly + (data.expenditures.yearly / 12.0)) | currency:'EUR' }}</span>

                      <span>Mortgage</span>
                      <span>{{ data.mortgage.monthlyRepayments | currency:'EUR' }}</span>

                      <span>Savings /month</span>
                      <span>
                          {{ (
                              (data.tp1.income.net + data.tp2?.income.net)
                              - (data.expenditures.monthly*12.0 + data.expenditures.yearly)
                              - data.mortgage.monthlyRepayments*12.0
                          )/12.0 | currency:'EUR' }}
                      </span>

                      <span>Savings /year</span>
                      <span>
                          {{ (
                              (data.tp1.income.net + data.tp2?.income.net)
                              - (data.expenditures.monthly*12.0 + data.expenditures.yearly)
                              - data.mortgage.monthlyRepayments*12.0
                          ) | currency:'EUR' }}
                      </span>

                  </div>

                  <div *ngIf="monthlyData" class='grid grid-cols-2 gap-2 mt-8 border rounded px-4 py-2'>

                      <div class='col-span-full'>
                          <h5>Mortgage Summary</h5>
                      </div>

                      <span>Mortgage Term</span>
                      <span>{{ math.floor(mortgageTerm / 12) }}y, {{ mortgageTerm % 12 }}m</span>

                      <span>Interest Paid</span>
                      <span>{{ (monthlyData[monthlyData.length - 1].cumulativeInterest) | currency:'EUR' }}</span>

                  </div>
              </div>

              <div class='w-full overflow-scroll mt-8'>
                  <table class='min-w-full w-max' mat-table [dataSource]="dataSource">

                      <ng-container matColumnDef="year">
                          <th mat-header-cell *matHeaderCellDef> Year # </th>
                          <td mat-cell *matCellDef="let element" class='text-center'> {{ math.floor(element.month / 12) }} </td>
                      </ng-container>

                      <ng-container matColumnDef="month">
                          <th mat-header-cell *matHeaderCellDef> Month # </th>
                          <td mat-cell *matCellDef="let element" class='text-center'> {{ 1 + (element.month % 12) }} </td>
                      </ng-container>

                      <ng-container matColumnDef="payment">
                          <th mat-header-cell *matHeaderCellDef> Payment </th>
                          <td mat-cell *matCellDef="let element" class='text-center'> {{ element.payment | currency:'EUR' }} </td>
                      </ng-container>

                      <ng-container matColumnDef="incrementalInterest">
                          <th mat-header-cell *matHeaderCellDef> Interest Added </th>
                          <td mat-cell *matCellDef="let element" class='text-center'> {{ element.incrementalInterest | currency:'EUR' }} </td>
                      </ng-container>

                      <ng-container matColumnDef="cumulativeInterest">
                          <th mat-header-cell *matHeaderCellDef> Interest Paid </th>
                          <td mat-cell *matCellDef="let element" class='text-center'> {{ element.cumulativeInterest | currency:'EUR' }} </td>
                      </ng-container>

                      <ng-container matColumnDef="remaining">
                          <th mat-header-cell *matHeaderCellDef> Remaining </th>
                          <td mat-cell *matCellDef="let element" class='text-center'> {{ element.remaining | currency:'EUR' }} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  </table>

                  <mat-paginator [pageSizeOptions]="[10, 100, 500]"></mat-paginator>

              </div>

          </div>

      </div>

      <div class='divider my-16'></div>

      <p class='text-sm xl:text-base w-full text-right'>
          I'm not a financial advisor. This isn't financial advice. Only a fool would take anything they read on the internet as fact. Always double check your numbers.
      </p>

  </div>

</div>
