<div
    class="relative box-border h-screen overflow-hidden font-sans text-base font-normal slashed-zero lining-nums tabular-nums text-sky-100 antialiased"
>
    <div
        class="background-gradient fixed inset-0 -z-10 box-border h-screen w-full overflow-hidden bg-noche-500"
    ></div>

    <div
        class="h-screen overflow-y-scroll p-4 px-2 pt-16 sm:px-4 md:px-8 xl:px-16"
    >
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
            <div class="space-y-4">
                <fc-income-pension class="flex"></fc-income-pension>
                <fc-expenditures class="flex"></fc-expenditures>
                <fc-mortgage class="flex"></fc-mortgage>
                <fc-strategy class="flex"></fc-strategy>
            </div>

            <div class="space-y-4">
                <fc-chart2d
                    title="Net Worth"
                    xTitle="Years"
                    yTitle="Value (€)"
                    [genericData]="netWorthData$ | async"
                ></fc-chart2d>
                <fc-chart2d
                    title="Mortgage"
                    xTitle="Years"
                    yTitle="Value (€)"
                    [genericData]="mortgageData$ | async"
                ></fc-chart2d>

                <fc-summary class="flex"></fc-summary>
                <fc-table class="flex"></fc-table>
            </div>
        </div>

        <div class="divider my-16"></div>

        <p class="w-full text-right text-sm xl:text-base">
            I'm not a financial advisor. This isn't financial advice. Only a
            fool would take anything they read on the internet as fact. Always
            double check your numbers.
        </p>
    </div>
</div>
