<form
    [formGroup]="form"
    class="raised-bg-gradient w-full space-y-4 rounded border border-sky-800 px-4 py-2 shadow-md"
>
    <div class="flex flex-row justify-between">
        <h5>Expenditures</h5>
        <button class="btn light p-1" (click)="toggleInfo()">
            <svg
                class="h-6 w-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
            </svg>
        </button>
    </div>
    <div
        class="overflow-hidden transition-all duration-500"
        [ngClass]="{
            'h-auto': showInfo,
            'h-0': !showInfo
        }"
    >
        <p>
            Monthly expenditures are everything EXCEPT for mortgage payments.
            That is covered in the <b>Mortgage</b> section below.
        </p>
        <p>
            Include here things like petrol, insurance, groceries, other monthly
            bills. If you are paying rent, include that here too.
        </p>
        <p>
            Annual expenditures are things like car tax which are only paid once
            per year. The cost is divided into 12 and split evenly across the
            months of the year
        </p>
    </div>

    <div>
        <h6>
            Monthly -
            {{
                data.monthlyItems
                    | sum: "amount"
                    | currency: "EUR":"symbol":"1.0-0"
            }}/month
        </h6>
        <div class="my-4">
            <ng-container
                *ngTemplateOutlet="
                    monthlyExpendituresTmpl;
                    context: { data: data, form: form }
                "
            ></ng-container>
        </div>
    </div>

    <div>
        <h6>
            Annual -
            {{
                data.yearlyItems
                    | sum: "amount"
                    | currency: "EUR":"symbol":"1.0-0"
            }}/year
        </h6>
        <div class="my-4">
            <ng-container
                *ngTemplateOutlet="
                    annualExpendituresTmpl;
                    context: { data: data, form: form }
                "
            ></ng-container>
        </div>
    </div>
</form>

<ng-template #monthlyExpendituresTmpl let-form="form" let-data="data">
    <div class="flex flex-wrap gap-1">
        <fc-chip
            *ngFor="
                let suggestion of data.monthlyItems;
                let i = index;
                trackBy: trackNamedAmount
            "
            [active]="true"
            [editable]="true"
            title="{{ suggestion.name }} - {{
                suggestion.amount | currency: 'EUR'
            }}"
            (onDelete)="removeMonthlyItem(suggestion)"
        >
            <ng-container
                *ngTemplateOutlet="
                    editMonthlyExpenditureTmpl;
                    context: {
                        form: form,
                        data: data,
                        index: i
                    }
                "
            ></ng-container>
        </fc-chip>
        <fc-chip title="New Item" (onAdd)="addMonthlyItem()"> </fc-chip>
    </div>
</ng-template>

<ng-template #annualExpendituresTmpl let-form="form" let-data="data">
    <div class="flex flex-wrap gap-1">
        <fc-chip
            *ngFor="
                let suggestion of data.yearlyItems;
                let i = index;
                trackBy: trackNamedAmount
            "
            [active]="true"
            [editable]="true"
            title="{{ suggestion.name }} - {{
                suggestion.amount | currency: 'EUR'
            }}"
            (onDelete)="removeYearlyItem(suggestion)"
        >
            <ng-container
                *ngTemplateOutlet="
                    editAnnualExpenditureTmpl;
                    context: {
                        form: form,
                        data: data,
                        index: i
                    }
                "
            ></ng-container>
        </fc-chip>
        <fc-chip title="New Item" (onAdd)="addYearlyItem()"> </fc-chip>
    </div>
</ng-template>

<ng-template
    #editMonthlyExpenditureTmpl
    let-form="form"
    let-data="data"
    let-i="index"
>
    <form [formGroup]="form" class="my-4 flex flex-col gap-2">
        <ng-container formArrayName="monthlyItems">
            <ng-container *ngIf="data.monthlyItems[i]" [formGroupName]="i">
                <fc-form-field>
                    <span formLabel>Name</span>
                    <input formInput type="text" formControlName="name" />
                    <span
                        formError
                        *ngIf="monthlyItems.at(i).get('name').invalid"
                    >
                    </span>
                </fc-form-field>
                <fc-form-field>
                    <span formLabel>Amount</span>
                    <span formPrefix>€</span>
                    <input formInput type="number" formControlName="amount" />
                    <span
                        formError
                        *ngIf="monthlyItems.at(i).get('amount').invalid"
                    >
                    </span>
                </fc-form-field>
            </ng-container>
        </ng-container>
    </form>
</ng-template>

<ng-template
    #editAnnualExpenditureTmpl
    let-form="form"
    let-data="data"
    let-i="index"
>
    <form [formGroup]="form" class="my-4 flex flex-col gap-2">
        <ng-container formArrayName="yearlyItems">
            <ng-container *ngIf="data.yearlyItems[i]" [formGroupName]="i">
                <fc-form-field>
                    <span formLabel>Name</span>
                    <input formInput type="text" formControlName="name" />
                    <span
                        formError
                        *ngIf="yearlyItems.at(i).get('name').invalid"
                    >
                    </span>
                </fc-form-field>
                <fc-form-field>
                    <span formLabel>Amount</span>
                    <span formPrefix>€</span>
                    <input formInput type="number" formControlName="amount" />
                    <span
                        formError
                        *ngIf="yearlyItems.at(i).get('amount').invalid"
                    >
                    </span>
                </fc-form-field>
            </ng-container>
        </ng-container>
    </form>
</ng-template>
