<form
    [formGroup]="form"
    class="w-full space-y-4 rounded border border-sky-800 px-4 py-2"
>
    <h5>Expenditures</h5>
    <p>
        Monthly expenditures are everything EXCEPT for mortgage payments. That
        is covered in the
        <b>Mortgage</b>
        section below
    </p>
    <p>
        Include here things like petrol, insurance, groceries, other monthly
        bills
    </p>
    <p>
        Annual expenditures are things like car tax which are only paid once per
        year. The cost is divided into 12 and split evenly across the months of
        the year
    </p>

    <div
        cdkDropList
        [cdkDropListData]="data.monthlyItems"
        (cdkDropListDropped)="dropMonthlyItem($event)"
        class="mt-2 w-full space-y-2"
        formArrayName="monthlyItems"
    >
        <div
            cdkDrag
            *ngFor="let item of data.monthlyItems; let i = index"
            class="list-element px-4 py-2"
            [formGroupName]="i"
        >
            <fc-named-amount
                class="h-full w-full"
                [item]="item"
                (onDelete)="deleteMonthlyItem(i)"
            ></fc-named-amount>
            <span *cdkDragPreview></span>
        </div>
    </div>

    <div
        cdkDropList
        [cdkDropListData]="data.yearlyItems"
        (cdkDropListDropped)="dropYearlyItem($event)"
        class="mt-2 w-full space-y-2"
        formArrayName="yearlyItems"
    >
        <div
            cdkDrag
            *ngFor="let item of data.yearlyItems; let i = index"
            class="list-element px-4 py-2"
            [formGroupName]="i"
        >
            <fc-named-amount
                class="h-full w-full"
                [item]="item"
                (onDelete)="deleteYearlyItem(i)"
            ></fc-named-amount>
            <span *cdkDragPreview></span>
        </div>
    </div>
</form>
