@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply m-0 h-full w-full overflow-x-hidden overscroll-y-none p-0;
    }
    html * {
        scrollbar-width: thin;
        scrollbar-color: theme("colors.sky.400") transparent;
    }
    html ::-webkit-scrollbar {
        width: var(--scrollbarWidth);
        height: var(--scrollbarWidth);
    }
    html ::-webkit-scrollbar {
        @apply bg-transparent;
    }
    html ::-webkit-scrollbar-thumb {
        @apply w-1 rounded-full bg-sky-400;
    }

    svg {
        @apply flex-none;
    }

    /*
        Range slider
    */

    .slider {
        @apply h-0.5 cursor-pointer appearance-none rounded-full bg-sky-900 disabled:bg-slate-400;
    }

    .slider-thumb {
        @apply h-5 w-5 cursor-grab appearance-none rounded-full border-4 border-sky-300 bg-sky-300 shadow-xl;
    }

    .slider-thumb-active {
        @apply cursor-grabbing;
    }

    input[formInput] {
        @apply absolute left-0 bottom-3
            mt-1
            h-4 w-full
            border-none bg-white/0 text-slate-100
            placeholder:invisible
            focus:border-none
            focus:outline-none focus:ring-white/0
            focus:placeholder:visible
            disabled:border-slate-200 disabled:bg-slate-50 disabled:text-slate-500 disabled:shadow-none;
    }

    select[formInput] {
        @apply absolute left-0 bottom-0     
            mt-1
            h-full w-full
            border-none bg-white/0 text-slate-100
            placeholder:invisible
            focus:border-none
            focus:outline-none focus:ring-white/0
            focus:placeholder:visible
            disabled:border-slate-200 disabled:bg-slate-50 disabled:text-slate-500 disabled:shadow-none;
    }

    input[type="range"] {
        @apply slider;
    }

    input[type="range"]::-moz-range-thumb {
        @apply slider-thumb;
    }

    input[type="range"]::-webkit-slider-thumb {
        @apply slider-thumb;
    }

    input[type="range"]::-moz-range-thumb:active {
        @apply slider-thumb-active;
    }

    input[type="range"]::-webkit-slider-thumb:active {
        @apply slider-thumb-active;
    }

    /*
        Typography
    */

    h1 {
        @apply font-heading text-5xl font-medium xl:text-6xl;
    }

    h2 {
        @apply font-heading text-4xl font-normal xl:text-5xl;
    }

    h3 {
        @apply font-heading text-3xl font-normal xl:text-4xl;
    }

    h4 {
        @apply font-heading text-2xl font-normal xl:text-3xl;
    }

    h5 {
        @apply font-heading text-xl font-normal xl:text-2xl;
    }

    h6 {
        @apply font-heading text-lg font-normal xl:text-xl;
    }

    p,
    ul,
    li {
        @apply xl:text-lg xl:leading-6;
    }

    small {
        @apply text-sm xl:text-base;
    }

    caption {
        @apply text-xs xl:text-sm;
    }
}

@layer components {
    /*
        Buttons
    */

    .btn {
        @apply flex
            cursor-pointer rounded-lg
            bg-transparent py-2 px-4 text-sky-200
            transition-opacity-colors hover:bg-sky-200 hover:text-sky-800 focus:outline-none
            active:bg-sky-200/90;
    }

    .btn.light {
        @apply text-sky-800 hover:bg-sky-200 active:bg-sky-200;
    }

    .btn.primary {
        @apply bg-sky-300 text-sky-800 hover:bg-sky-400 active:bg-sky-300;
    }

    .chip {
        @apply flex h-fit cursor-pointer items-center rounded-3xl bg-sky-300 py-2 px-4 font-bold text-sky-900 shadow-lg transition-all duration-300 hover:bg-sky-400;
    }

    .chip.dark {
        @apply bg-sky-800 text-sky-100 hover:bg-sky-900;
    }

    /*
        Dividers
    */

    .divider {
        @apply border-solid border-sky-900/50;
    }
    .divider:not(.vertical) {
        @apply my-4 flex border-b;
    }
    .divider.vertical {
        @apply mx-4 flex border-r;
    }

    /**
        Misc
    */

    .list-element {
        @apply flex h-auto min-h-[5rem] cursor-pointer flex-row items-center justify-between rounded-lg border-l-4 border-sky-400/0 bg-sky-800 px-4 text-sky-100 transition-opacity-colors hover:rounded-l-none hover:border-sky-500/100 hover:bg-sky-700;
    }
}

@layer utilities {
    /*
        https://tailwindcss.com/docs/adding-new-utilities
    */

    .background-gradient {
        background-image: linear-gradient(
            120deg,
            theme("colors.sky.100"),
            theme("colors.sky.200")
        );
    }

    .disabled {
        @apply pointer-events-none cursor-default opacity-50;
    }
}
