<form
    [formGroup]="form"
    class="raised-bg-gradient w-full rounded-lg p-4 pt-2 shadow-lg shadow-sky-800/50"
>
    <div class="flex flex-row items-center justify-between">
        <h5>Timeline</h5>
        <div class="flex flex-row gap-4">
            <button class="btn light p-1" (click)="toggleInfo()">
                <svg
                    class="h-6 w-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                </svg>
            </button>
            <button class="btn light p-1" (click)="addEvent()">
                <svg
                    class="h-6 w-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                </svg>
            </button>
        </div>
    </div>
    <div
        class="overflow-hidden transition-all duration-700 font-normal"
        [ngClass]="{
            'max-h-0': !showInfo,
            'max-h-[96rem]': showInfo
        }"
    >
        <p>
            Let's be realistic, the numbers you've entered above in
            <b>Incomes</b>, <b>Expenditures</b>, and <b>Mortgage</b> are not
            going to stay the same for the next 30 odd years.
        </p>
        <p>
            Use this section to build a timeline of events which change your
            income, pension contributions, mortgage repayments, interest levels,
            etc to give a better picture of what your finances will look like in
            the future
        </p>
        <p>
            Every time you add or edit an event, the changes will be immediately
            reflected in the graphs and data
        </p>
    </div>
    <div
        cdkDropList
        [cdkDropListData]="data.events"
        (cdkDropListDropped)="drop($event)"
        class="w-full mt-4 space-y-4"
        formArrayName="events"
    >
        <div
            cdkDrag
            *ngFor="let ev of data.events; trackBy: trackEvent; let i = index"
            [formGroupName]="i"
        >
            <fc-strategy-event
                [eventIdx]="i"
                (onDelete)="deleteEvent($event)"
            ></fc-strategy-event>
            <span *cdkDragPreview></span>
        </div>
    </div>
</form>
