<div class="h-96 rounded-lg overflow-y-scroll w-max">
    <div
        class="sticky top-0 bg-gray-300 font-bold px-4 py-3 border-b border-gray-500 grid grid-cols-6 gap-4"
    >
        <div class="flex basis-px">Year</div>
        <div class="flex basis-px">Month</div>
        <div class="flex basis-px">Payment</div>
        <div class="flex basis-px whitespace-nowrap">Incr. Interest</div>
        <div class="flex basis-px whitespace-nowrap">Cum. Interest</div>
        <div class="flex basis-px">Mortgage</div>
    </div>
    <div
        class="bg-gray-100 px-4 py-3 border-b border-gray-500 grid grid-cols-6 gap-4"
        *ngFor="let row of tableData; trackBy: trackMonth"
    >
        <div *ngFor="let col of displayedColumns; trackBy: trackCol">
            {{ row | display: col }}
        </div>
    </div>
</div>
